{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Welcome to Student Co</h1>

    <p>
        Welcome,
        <strong>{{ request.user.username }}</strong>
    </p>

    <div>

        <h2>Customer</h2>

        <a href="{% url 'service_list' %}">
            Browse Services
        </a>

        <br>

        <a href="{% url 'my_requests' %}">
            My Requests
        </a>

        <br>

        <a href="{% url 'my_bookings' %}">
            My Bookings
        </a>

    </div>

    <hr>

    <div>

        <h2>My Account</h2>

        <a href="{% url 'profile' %}">
            My Profile
        </a>

        <br>

        <a href="{% url 'become_provider' %}">
            Become a Service Provider
        </a>

        <br>

        <a href="{% url 'provider_dashboard' %}">
            Provider Dashboard
        </a>

    </div>

    <hr>

    <a href="{% url 'logout' %}">
        Logout
    </a>

</div>

{% endblock %}