<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard | Student Co</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <h1>Welcome to Student Co</h1>

    <h2>
        Hello, {{ user.username }}!
    </h2>

    <p>
        You are successfully logged in.
    </p>

    <br><br>

    <a href="{% url 'profile' %}">
        My Profile
    </a>

    <a href="{% url 'logout' %}">
        Logout
    </a>

</body>
</html>