<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | Student Co</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <h1>Login to Student Co</h1>

    {% if error %}
         <p>{{error}}</p>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" required>

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        Don't have an account?
        <a href="{% url 'register' %}">
            Register
        </a>

    </p>


</body>


</html>