{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Respond to Request</h1>

    <p>
        Customer:
        {{ service_request.customer.username }}
    </p>

    <p>
        Request:
        {{ service_request.message }}
    </p>

    <form method="POST">

        {% csrf_token %}

        <label>Message</label>

        <textarea
            name="message"
            rows="5"
            required
        ></textarea>

        <br><br>

        <label>Price</label>

        <input
            type="number"
            name="price"
            step="0.01"
            required
        >

        <br><br>

        <button type="submit">
            Send Response
        </button>

    </form>

</div>

{% endblock %}